*.png
statistics/*.csv
statistics/*.png
**__pycache__**
results.sqlite
cache.sqlite3
cache
cache2
notebooks/
results/exp3
table1.tex
table2.tex
table3.tex
results/axiomsQuerying
results/classesQuerying
results/old
#results/ontologies/**/*.owl
results/ontologies/*.owl
warnings.txt
logging_file_name.txt
results.sqlite3
src/main/resources/ontologies/new/
.ipynb_checkpoints/
nohup.out
__pychache__
cache.sqlite3
results.sqlite
results.sqlite3
src/main/resources/ontologies/new
analysis/old
analysis/*.txt
results/*.txt

!analysis/none
!analysis/split
!analysis/desaturate
!analysis/simplify

!results/ontologies/none
!results/ontologies/simplify
!results/ontologies/split
!results/ontologies/desaturate

##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
# bin/ already excluded
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## NetBeans
##############################
nbproject/private/
# build/ already excluded
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store

##############################
## CUSTOM
##############################
src/main/resources/openai-key.json

data_paclo
*.md